:root {
  --color-main: hsl(222, 26%, 31%);
  --color-toggle: hsl(223, 31%, 20%);
  --color-screen: hsl(224, 36%, 15%);

  --color-key-bg-1: hsl(225, 21%, 49%); //(key background)
  --color-key-sh-1: hsl(224, 28%, 35%); //(key shadow)

  --color-key-bg-toggle: hsl(6, 63%, 50%); //(key background, toggle)
  --color-key-sh-2: hsl(6, 70%, 34%); //(key shadow)

  --color-key-bg-3: hsl(30, 25%, 89%); // (key background)
  --color-key-sh-3: hsl(28, 16%, 65%); // (key shadow)

  --color-key-text-1: hsl(221, 14%, 31%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme1 {
  --color-main: hsl(222, 26%, 31%);
  --color-toggle: hsl(223, 31%, 20%);
  --color-screen: hsl(224, 36%, 15%);

  --color-key-bg-1: hsl(225, 21%, 49%); //(key background)
  --color-key-sh-1: hsl(224, 28%, 35%); //(key shadow)

  --color-key-bg-toggle: hsl(6, 63%, 50%); //(key background, toggle)
  --color-key-sh-2: hsl(6, 70%, 34%); //(key shadow)

  --color-key-bg-3: hsl(30, 25%, 89%); // (key background)
  --color-key-sh-3: hsl(28, 16%, 65%); // (key shadow)

  --color-key-text-1: hsl(221, 14%, 31%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme2 {
  --color-main: hsl(0, 0%, 90%);
  --color-toggle: hsl(0, 5%, 81%);
  --color-screen: hsl(0, 0%, 93%);

  --color-key-bg-1: hsl(185, 42%, 37%); //(key background)
  --color-key-sh-1: hsl(185, 58%, 25%); //(key shadow)

  --color-key-bg-toggle: hsl(25, 98%, 40%); //(key background, toggle)
  --color-key-sh-2: hsl(25, 99%, 27%); //(key shadow)

  --color-key-bg-3: hsl(45, 7%, 89%); // (key background)
  --color-key-sh-3: hsl(35, 11%, 61%); // (key shadow)

  --color-key-text-1: hsl(60, 10%, 19%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme3 {
  --color-main: hsl(268, 75%, 9%);
  --color-toggle: hsl(268, 71%, 12%);
  --color-screen: hsl(268, 71%, 12%);

  --color-key-bg-1: hsl(281, 89%, 26%); //(key background)
  --color-key-sh-1: hsl(285, 91%, 52%); //(key shadow)

  --color-key-bg-toggle: hsl(176, 100%, 44%); //(key background, toggle)
  --color-key-sh-2: hsl(177, 92%, 70%); //(key shadow)

  --color-key-bg-3: hsl(268, 47%, 21%); // (key background)
  --color-key-sh-3: hsl(290, 70%, 36%); // (key shadow)

  --color-key-text-1: hsl(52, 100%, 62%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main);
}
