:root {
  --color-main: hsl(222, 26%, 31%);
  --color-toggle: hsl(223, 31%, 20%);
  --color-screen: hsl(224, 36%, 15%);
  --color-key-bg-1: hsl(225, 21%, 49%);
  --color-key-sh-1: hsl(224, 28%, 35%);
  --color-key-bg-toggle: hsl(6, 63%, 50%);
  --color-key-sh-2: hsl(6, 70%, 34%);
  --color-key-bg-3: hsl(30, 25%, 89%);
  --color-key-sh-3: hsl(28, 16%, 65%);
  --color-key-text-1: hsl(221, 14%, 31%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme1 {
  --color-main: hsl(222, 26%, 31%);
  --color-toggle: hsl(223, 31%, 20%);
  --color-screen: hsl(224, 36%, 15%);
  --color-key-bg-1: hsl(225, 21%, 49%);
  --color-key-sh-1: hsl(224, 28%, 35%);
  --color-key-bg-toggle: hsl(6, 63%, 50%);
  --color-key-sh-2: hsl(6, 70%, 34%);
  --color-key-bg-3: hsl(30, 25%, 89%);
  --color-key-sh-3: hsl(28, 16%, 65%);
  --color-key-text-1: hsl(221, 14%, 31%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme2 {
  --color-main: hsl(0, 0%, 90%);
  --color-toggle: hsl(0, 5%, 81%);
  --color-screen: hsl(0, 0%, 93%);
  --color-key-bg-1: hsl(185, 42%, 37%);
  --color-key-sh-1: hsl(185, 58%, 25%);
  --color-key-bg-toggle: hsl(25, 98%, 40%);
  --color-key-sh-2: hsl(25, 99%, 27%);
  --color-key-bg-3: hsl(45, 7%, 89%);
  --color-key-sh-3: hsl(35, 11%, 61%);
  --color-key-text-1: hsl(60, 10%, 19%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

.theme3 {
  --color-main: hsl(268, 75%, 9%);
  --color-toggle: hsl(268, 71%, 12%);
  --color-screen: hsl(268, 71%, 12%);
  --color-key-bg-1: hsl(281, 89%, 26%);
  --color-key-sh-1: hsl(285, 91%, 52%);
  --color-key-bg-toggle: hsl(176, 100%, 44%);
  --color-key-sh-2: hsl(177, 92%, 70%);
  --color-key-bg-3: hsl(268, 47%, 21%);
  --color-key-sh-3: hsl(290, 70%, 36%);
  --color-key-text-1: hsl(52, 100%, 62%);
  --color-key-text-2: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-main);
}

h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8rem;
          flex: 0 0 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme__text {
  margin-right: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  font-size: 9px;
}

.keys > * {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-key-bg-3);
  color: var(--color-key-text-1);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 10px 1px -1px;
          box-shadow: 10px 1px -1px;
  -webkit-box-shadow: 0px 3px 1px -1px var(--color-key-sh-3);
          box-shadow: 0px 3px 1px -1px var(--color-key-sh-3);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.keys > *:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.keys__result {
  grid-column: span 2;
  color: var(--color-key-text-2);
  background-color: var(--color-key-bg-toggle);
  -webkit-box-shadow: 0px 3px 1px -1px var(--color-key-sh-2);
          box-shadow: 0px 3px 1px -1px var(--color-key-sh-2);
}

.keys__reset {
  grid-column: span 2;
  color: var(--color-key-text-2);
  background-color: var(--color-key-bg-1);
  -webkit-box-shadow: 0px 3px 1px -1px var(--color-key-sh-1);
          box-shadow: 0px 3px 1px -1px var(--color-key-sh-1);
}

.keys__del {
  color: var(--color-key-text-2);
  background-color: var(--color-key-bg-1);
  -webkit-box-shadow: 0px 3px 1px -1px var(--color-key-sh-1);
          box-shadow: 0px 3px 1px -1px var(--color-key-sh-1);
}

.keys__reset, .keys__del, .keys__multiply {
  font-size: 1rem;
}

.attribution {
  font-size: 6px;
  text-align: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.attribution a {
  color: #3e52a3;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 0.2rem;
}

.switch__input {
  display: none;
}

.switch__btn {
  height: 1.3rem;
  width: 1.3rem;
  background-color: var(--color-toggle);
  padding: 0.2rem;
}

.switch:nth-child(1) .switch__btn {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.switch:nth-child(3) .switch__btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.switch__active::after {
  content: "";
  background-color: var(--color-key-bg-toggle);
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0 5rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem 6rem;
      grid-template-rows: 6rem 6rem;
  row-gap: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  color: var(--color-key-text-2);
}

.result {
  background-color: var(--color-screen);
  font-size: 3rem;
  padding: 1.3rem;
  color: var(--color-key-text-2);
  text-align: end;
  border-radius: 5px;
}

.keys {
  background-color: var(--color-toggle);
  border-radius: 5px;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 1.4rem;
  -ms-grid-columns: (minmax(4rem, 1fr))[4];
      grid-template-columns: repeat(4, minmax(4rem, 1fr));
  -webkit-box-shadow: 10px 19px 17px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 19px 17px -4px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */